/* Se define el aspecto visual de la barra de búsqueda */
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .search-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #3b82f6; /* Color azul del borde */
    border-radius: 5px 0 0 5px;
    font-size: 16px;
  }
  
  .search-button {
    padding: 10px;
    background-color: #3b82f6; /* Color del botón */
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #2563eb; /* Color del botón cuando se pasa el ratón por encima */
  }
  
  .search-input:focus {
    outline: none;
    border-color: #2563eb; /* Cambia el color del borde cuando se enfoca */
  }
  